
# yaml-language-server: $schema=https://github.com/epics-containers/ibek/releases/download/3.1.2/ibek.support.schema.json
ioc_name: {{iocname}}
description:  Agilent VAC TEMPLATE

entities:


{%- if devtype == "xgs600" %}
- type: agilent.{{devtype}}.controller
  name: AGILENT001
  IP: {{server}}
  TCPPORT: {{port}}
  P: "{{iocprefix}}"
{%- for t in devices %}
{%- if t.devtype == "img" %}
- type: agilent.xgs600.imgsensor
  controller: AGILENT001
  P: "{{iocprefix}}:{{ t.name }}"
  sensor: {{ t.sensor }}
  tcauto: {{ t.tcauto }}
{%- endif %}
{%- if t.devtype == "cnv" %}
- type: agilent.{{devtype}}.cnvsensor
  controller: AGILENT001
  P: "{{iocprefix}}:{{ t.name }}"
  sensor: {{ t.sensor }}
{%- endif %}
{%- if t.devtype == "setpoint" %}
- type: agilent.{{devtype}}.setpoint
  controller: AGILENT001
  P: "{{iocprefix}}:{{ t.name }}"
  sensor: {{ t.sensor }}
  number: {{ t.number }}
{%- endif %}
{%- endfor %}

## pumps
{%- else %}
- type: agilent.{{devtype}}.controller
  name: AGILENT_PUMP
  IP: {{server}}
  TCPPORT: {{port}}
  P: "{{iocprefix}}"
{%- for t in devices %}
- type: agilent.{{devtype}}.pump
  controller: AGILENT_PUMP
  name: "{{ t.name }}"
  channel: {{ t.channel }}
{%- endfor %}
{%- endif %}

- type: epics.PostStartupCommand 
  command: |
    dbl
  {%- if iocexit %}
    exit
  {%- else %}
    dbl("*") > {{config_dir}}/pvlist.txt           ## dumps PV NAMES
  {%- endif %}