epicsEnvSet("ARCH","linux-x86_64")
epicsEnvSet("IOC","iocelinp-gp09-ioc01")
epicsEnvSet("TOP","{{ioctop}}")
epicsEnvSet("EPICS_BASE","/opt/codac-4.1/epics/base")
epicsEnvSet("SYSMON","/opt/codac-4.1/epics/modules/sysmon")
epicsEnvSet("M9210","/opt/codac-4.1/epics/modules/m9210")
epicsEnvSet("STD","/opt/codac-4.1/epics/modules/std")
epicsEnvSet("DEVLIB2","/opt/codac-4.1/epics/modules/devlib2")
epicsEnvSet("PTTS","/opt/codac-4.1/epics/modules/ptts")
epicsEnvSet("NDS","/opt/codac-4.1/epics/modules/nds")
epicsEnvSet("ELINPIOCMON","/opt/codac-4.1/epics/modules/elinp-iocmon")
epicsEnvSet("SNCSEQ","/opt/codac-4.1/epics/modules/sncseq")
epicsEnvSet("AGILENTXGS600","/opt/codac-4.1/epics/modules/agilent-xgs600")
epicsEnvSet("CUBMON","/opt/codac-4.1/epics/modules/cubmon")
epicsEnvSet("TDR","/opt/codac-4.1/epics/modules/tdr")
epicsEnvSet("MENLOLAC1550","/opt/codac-4.1/epics/modules/menlo-lac1550")
epicsEnvSet("ASYN","/opt/codac-4.1/epics/modules/asyn")
epicsEnvSet("ARAVISGIGE","/opt/codac-4.1/epics/modules/aravis-gige")
epicsEnvSet("KL1104","/opt/codac-4.1/epics/modules/KL1104")
epicsEnvSet("MENLOSYNCRO","/opt/codac-4.1/epics/modules/menlo-syncro")
epicsEnvSet("SCANDINOVARFMOD","/opt/codac-4.1/epics/modules/scandinova-rfmod")
epicsEnvSet("BASLERCCD","/opt/codac-4.1/epics/modules/basler-ccd")
epicsEnvSet("AREADETECTOR","/opt/codac-4.1/epics/modules/area-detector")
epicsEnvSet("STREAMDEVICE","/opt/codac-4.1/epics/modules/streamdevice")
epicsEnvSet("FINS","/opt/codac-4.1/epics/modules/fins")
epicsEnvSet("BUSY","/opt/codac-4.1/epics/modules/busy")
epicsEnvSet("AUTOSAVE","/opt/codac-4.1/epics/modules/autosave")
epicsEnvSet("KL2442","/opt/codac-4.1/epics/modules/KL2442")
epicsEnvSet("IOCMON","/opt/codac-4.1/epics/modules/iocmon")
epicsEnvSet("AGILENT4UHV","/opt/codac-4.1/epics/modules/agilent-4uhv")
epicsEnvSet("MRFIOC2","/opt/codac-4.1/epics/modules/mrfioc2")
epicsEnvSet("MODBUS","/opt/codac-4.1/epics/modules/modbus")
epicsEnvSet("BPMTRAJECTORY","/opt/codac-4.1/epics/modules/bpm-trajectory")
epicsEnvSet("TML","/opt/codac-4.1/epics/modules/tml")
epicsEnvSet("MENLOLFC","/opt/codac-4.1/epics/modules/menlo-lfc")
epicsEnvSet("SSCAN","/opt/codac-4.1/epics/modules/sscan")
epicsEnvSet("ELINPSYSMON","/opt/codac-4.1/epics/modules/elinp-sysmon")
epicsEnvSet("TIMEPROPAGATION","/opt/codac-4.1/epics/modules/timePropagation")
epicsEnvSet("PSOS","/opt/codac-4.1/epics/modules/psos")
epicsEnvSet("CTPTEST2","/opt/codac-4.1/epics/modules/ctptest2")
epicsEnvSet("CALC","/opt/codac-4.1/epics/modules/calc")
epicsEnvSet("ASYNINTERPOSEMENLO","/opt/codac-4.1/epics/modules/asynInterposeMenlo")
epicsEnvSet("SIGMAPHISTART","/opt/codac-4.1/epics/modules/sigmaphi-start")
epicsEnvSet("ITESTBILT","/opt/codac-4.1/epics/modules/itest-bilt")
epicsEnvSet("CBS2COS","/opt/codac-4.1/epics/modules/cbs2cos")
epicsEnvSet("CHILLER","/opt/codac-4.1/epics/modules/chiller")
epicsEnvSet("S7PLC","/opt/codac-4.1/epics/modules/s7plc")
