#!{{iocbin}}
# elinp_gp09_ioc01

< envPaths
< envSystem
< envUser

cd "${TOP}"

#############################################
## Register all support components         ##
#############################################
dbLoadDatabase "dbd/mrf230.dbd"
{{iocfunc}}_registerRecordDeviceDriver pdbbase


#############################################
## HW setup                                ##
#############################################



{%- for dev in devices %}
{%- set prefix = iocprefix %}
{% if dev.prefix is defined %}
{%- set prefix = dev.prefix %}
{%- endif %}
## device TYPE {{dev.devtype}} ### 
## {{dev.name}} ##
{%- if dev.devtype == "evr230" %}
mrmEvrSetupPCI("{{dev.name}}",0,{{dev.bus}},{{dev.slot}},{{dev.func}})
dbLoadRecords("elinp-evr.db", "SYS={{prefix}}, EVR={{dev.name}},EVT=0")
dbLoadRecords("elinp-evrsoft.db", "SYS={{prefix}}, EVR={{dev.name}}, EVT=0, CODE=0")
{%- endif %}

{%- if dev.devtype == "evg230" %}
mrmEvgSetupPCI("{{dev.name}}",{{dev.bus}},{{dev.slot}},{{dev.func}})
dbLoadRecords("elinp-evg.db", "SYS={{prefix}}, EVG={{dev.name}}")
{%- endif %}

{%- if dev.devtype == "m9210" %}
ndsCreateDevice "m9210", "{{dev.name}}", "N_AI=2, DEV={{dev.dev}}, OPT=DriverSetup=CAL=0, BUFSIZE={{dev.buffer}}"
dbLoadRecords "db/m9210.db", "PREFIX={{prefix}}:{{dev.name}}, IDX=0, MODULEIDX=0,  ASYN_PORT={{dev.name}}, TIMEOUT=1, BUFSIZE={{dev.buffer}}, PV_EVENT_CNT={{eventpv}}, PV_STATS={{prefix}}:{{dev.name}}:MACB_CW"
dbLoadRecords "db/xct-stat.template", "PREFIX={{prefix}}:{{dev.name}}, NELM={{dev.buffer}}, BUFSIZE={{dev.buffer}}, SRCREC={{prefix}}:{{dev.name}}:AI0:ROI, UBUNCHSAMPL=64, IOCNAME={{iocname}}, PV_SR_TP=ai, PV_SR={{prefix}}:{{dev.name}}:CLKF_RB, PV_IMPED_TP=mbbi, PV_IMPED={{prefix}}:{{dev.name}}:AI0:IMPD_RB"
{%- endif %}
#########

{%- endfor %}

#############################################
## DB Loading                              ##
#############################################
#dbLoadTemplate("${TOP}/db/$(IOCMODULE).substitutions")

## Timing DB (EVG)



#############################################
## IOC and System Monitor                  ##
#############################################

# dbLoadRecords("${ELINPIOCMON}/db/elinp-iocmon.db", "P=${IOCNAME}")
# dbLoadRecords("${ELINPSYSMON}/db/elinp-sysmon.db", "P=${IOCNAME},NETIF=${NETIF}")


#############################################
## Auto Save/Restore                       ##
#############################################
# Disabled, to enable also edit envSystem (AUTOSAVE_SYSM_PV_PREFIX)
#< "${TOP}/iocBoot/$(IOC)/$(IOC)-preSaveRestore.cmd"


#############################################
## IOC Logging                             ##
#############################################

# iocLogInit


#############################################
## IOC initialization                      ##
#############################################

#cd "${TOP}/db"

iocInit
#############################################
## Timing configuration                    ##
#############################################


# OR load EVG config with internal clock
#< "${PTTS}/ioc_config/tmg-EVGinternal.cmd"

{%- for dev in devices %}
{%- set prefix = iocprefix %}
{% if dev.prefix is defined %}
{%- set prefix = dev.prefix %}
{%- endif %}

{%- if dev.iocinit is sequence %}
{%- for param in dev.iocinit %}
dbpf ("{{prefix}}:{{dev.name}}:{{param.name}}","{{param.value}}")
{%- endfor %}
{%- endif %}
{%- endfor %}

dbl
dbl("*") > {{config_dir}}/pvlist.txt

#############################################
## Auto Save/Restore post init config      ##
#############################################
# Disabled
#< "${TOP}/iocBoot/$(IOC)/$(IOC)-postSaveRestore.cmd"

