#!/bin/sh
echo "iocname:$__IOC_PREFIX__"
echo "* removing pci and mrf linux drivers"
rmmod pci_mrfevg
rmmod pci_mrfevr
rmmod mrf
echo "* readding mrf linux drivers"

# modprobe pci_mrfevg
# modprobe pci_mrfevr
sleep 1
modprobe mrf
echo "* starting ioc"


./st.cmd
